---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.gnavi.co.jp/ForeignRestSearchAPI/v3/?keyid=ae0f4e85e8ca70ba78e7ef73bd1db6b9&lang=ja
    method: GET
  response:
    body: |-
      {
          "@attributes": {
              "api_version": "v3"
          },
          "total_hit_count": 68421,
          "hit_per_page": 10,
          "page_offset": 1,
          "rest": [
              {
                  "@attributes": {
                      "order": 0
                  },
                  "id": "e295801",
                  "update_date": "2021-04-07T06:14:22+09:00",
                  "name": {
                      "name": "旬魚と個室居酒屋 和食りん 新橋店",
                      "name_kana": "シュンギョトコシツイザカヤワショクリン シンバシテン"
                  },
                  "business_hour": "月～日 16:00～24:00(L.O.23:30)(※団体予約時に限り時間外も営業可。詳細は店舗までお問い合わせください。  ※年末年始や連休中は営業時間が変更になる場合がございます。詳細は店舗までお問い合わせください。)",
                  "holiday": "毎週日曜日 祝日",
                  "contacts": {
                      "address": "〒105-0004 東京都港区新橋2-12-2 3F",
                      "tel": "050-5486-4374",
                      "fax": ""
                  },
                  "sales_points": {
                      "pr_short": "新橋駅徒歩3分！全席個室の本格和食居酒屋 旬の食材を楽しむ2時間飲み放題付コース3500円～！ ご宴会・飲み会に！",
                      "pr_long": "完全個室を完備。2名様～最大30名様まで◎\nお席の時間制限もございません！\n全てのお客様にご満足いただけるよう、最高のおもてなしを心掛けております。\n『朝採れ鮮魚のお造り』など…数量限定食材も◎\n\n仕入れ状況によっては『近大マグロ』の入荷もございます！\n食通も納得の食材にこだわる本格和食をお愉しみ下さい。\n新橋・汐留・虎ノ門での歓迎会・送別会,ご宴会,接待,会食,結婚式の二次会は\n当店にお任せ下さい！貸切宴会は最大70名様まで！"
                  },
                  "access": "ＪＲ新橋駅烏森口 徒歩3分  都営浅草線新橋駅 徒歩4分  地下鉄銀座線新橋駅 徒歩4分  都営大江戸線汐留駅 徒歩5分  都営三田線内幸町駅 徒歩2分  地下鉄銀座線虎ノ門駅 徒歩6分",
                  "budget": 3500,
                  "credit_card": "VISA,MasterCard,UC,DC,UFJ,アメリカン・エキスプレス,JCB,NICOS,アプラス,セゾン,MUFG",
                  "categories": {
                      "category": "本格和食居酒屋",
                      "category_name_l": [
                          "居酒屋",
                          ""
                      ],
                      "category_name_s": [
                          "居酒屋",
                          ""
                      ]
                  },
                  "flags": {
                      "mobile_site": 1,
                      "mobile_coupon": 1,
                      "pc_coupon": 1
                  },
                  "location": {
                      "latitude": "35.664300",
                      "longitude": "139.758214",
                      "latitude_wgs84": "35.667527",
                      "longitude_wgs84": "139.754964",
                      "area": {
                          "district": "関東",
                          "prefname": "東京都",
                          "areaname_s": "新橋"
                      }
                  },
                  "url": "https://r.gnavi.co.jp/e295801/?ak=RTOzVi87xhNX8XtC%2FyXyOu2w6BLkhpztX0j3JcEHh8g%3D",
                  "url_mobile": "http://mobile.gnavi.co.jp/shop/e295801/?ak=RTOzVi87xhNX8XtC%2FyXyOu2w6BLkhpztX0j3JcEHh8g%3D",
                  "image_url": {
                      "thumbnail": "https://rimage.gnst.jp/rest/img/cuyybb430000/t_00l1.jpg?t=1617733930&rw=80&rh=80",
                      "qrcode": "https://c-r.gnst.jp/tool/qr/?id=e295801&q=6"
                  }
              },
              {
                  "@attributes": {
                      "order": 1
                  },
                  "id": "k581006",
                  "update_date": "2021-04-07T08:23:55+09:00",
                  "name": {
                      "name": "個室和食 ほたる 北新地駅前店",
                      "name_kana": "コシツワショクホタルキタシンチエキマエテン"
                  },
                  "business_hour": " 17:00～24:00(L.O.23:0[...]
